# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# env files
.env